:root {
  --background-color: hsl(30, 38%, 92%);
  --primary-cyan: hsl(158, 36%, 37%);
  --montserrat: "Montserrat", sans-serif;
  --fraunces: "Fraunces", sans-serif;
}

body {
  background-color: var(--background-color);
}
main {
  display: flex;
  min-height: 100vh;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.card {
  background-color: hsl(0, 0%, 100%);
  min-width: 40rem;
  min-height: 30rem;
  border-radius: 15px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  padding: 0;
}

.image {
  min-width: 20rem;
  min-height: 30rem;
  border-radius: 15px 0 0 15px;
  padding: 0;
}

img {
  padding: 0;
  max-width: 20rem;
  min-height: 30rem;
  object-fit: cover;
  border-radius: 15px 0 0 15px;
}

.content {
  max-width: 15rem;
  min-height: 30rem;
  display: flex;
  flex-direction: column;
  justify-self: center;
}

.title {
  color: hsl(212, 21%, 14%);
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 0;
  margin-top: 0;
  padding-bottom: 20px;
  margin-bottom: 0;
  font-size: 2.5rem;
  font-family: var(--fraunces);
  font-weight: 700;
  display: flex;
  text-align: start;
  flex-wrap: wrap;
}

.category {
  padding: 30px;
  text-transform: uppercase;
  font-size: 0.8rem;
  letter-spacing: 4px;
  font-family: var(--montserrat);
  font-weight: 700;
}

.description {
  width: 100%;
  text-align: start;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 0;
  margin-top: 0;
  margin-bottom: 20px;
  font-family: var(--montserrat);
  font-size: 14px;
}

.category,
.title,
.description,
.prices {
  min-width: 100%;
}

.category,
.description,
.previous-price {
  color: hsl(228, 12%, 48%);
}

.prices {
  padding-left: 30px;
  padding-right: 30px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  /* justify-content: space-between; */
  align-items: center;
}

.current-price {
  color: var(--primary-cyan);
  font-size: 2rem;
  font-family: var(--fraunces);
  font-weight: 700;
}

.previous-price {
  font-size: 0.7rem;
  font-family: var(--montserrat);
  font-weight: 500;
  text-decoration: line-through;
  padding-left: 50px;
}

.add2cart {
  background-color: var(--primary-cyan);
  color: white;
  margin-left: 30px;
  margin-top: 20px;
  height: 2.5rem;
  border: none;
  border-radius: 5px;
  font-family: var(--montserrat);
  font-size: 0.8rem;
  font-weight: 700;
  cursor: pointer;
}

.add2cart > i {
  font-size: 1.2rem;
  margin-right: 5px;
}

.add2cart:hover {
  background-color: hsl(158, 37%, 20%);
}
.add2cart:focus {
  border: 2px solid hsl(158, 37%, 20%);
}

@media (max-width: 375px) {
  :root {
    font-size: 12px;
  }
  .card {
    flex-direction: column;
    min-width: 21rem;
    max-height: 50rem;
    min-height: 50rem;
  }

  .image,
  img {
    min-width: 21rem;
    max-width: 21rem;
    min-height: 18rem;
    max-height: 18rem;
    object-fit: cover;
    border-radius: 15px 15px 0 0;
  }

  .title,
  .description,
  .prices,
  .add2cart,
  .category {
    padding-left: 0;
    padding-right: 0;
    margin-left: -20px;
    margin-right: -20px;
  }

  .previous-price {
    font-size: 0.8rem;
    padding-left: 4rem;
  }

  .title {
    font-size: 2.2rem;
  }

  .description {
    width: fit-content;
  }

  .prices {
    margin: 0;
    margin: 10px 0;
  }

  .current-price {
    font-size: 1.8rem;
  }

  .add2cart {
    margin-bottom: 5px;
  }
}
